.Strona {
  text-align: center;
  font-size: 30px;
  background-color: var(--background);
  padding-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.t {
  color: var(--text);
  margin: 0;
}
.Title {
  margin-top: 0;
  max-width: 1000px;
  max-height: 600px;
}
.M {
  margin-top: 20vh;
  padding-top: 20vh;
  border-style: solid;
  border-color: var(--primary);
  border-width: 5px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  color: var(--text);
  column-gap: 5vw;
}
.sideT {
  font-size: 40px;
}
.sideTop {
  font-size: 80px;
  margin-bottom: 0;
  font-weight: bolder;
  color: var(--primary);
}
@media only screen and (min-width: 600px) {
  .Title {
    width: 70vw;
  }
  .t {
    font-size: 1.2em;
  }
  .M {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  .Koło {
    width: 40vw;
  }
  .sideT {
    font-size: 1em;
  }
}
@media only screen and (max-width: 600px) {
  .Title {
    width: 90vw;
  }
  .t {
    font-size: 0.7em;
  }
  .Magia {
    height: 90%;
  }
  .Koło {
    max-width: 70vw;
  }
  .sideT {
    font-size: 0.7em;
  }
}
.Koło {
  align-items: center;
  animation: rotate 40s infinite linear;
  z-index: 3;
}

.button {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  display: inline-block;
  border-radius: 4px;
  background-color: var(--primary);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 10vh;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:active {
  opacity: 0.9;
  transition: 0.1s;
}

@keyframes rotate {
  0% {
    scale: 1;
    transform: rotate(0deg);
  }

  11.5% {
    scale: 1;
  }
  12% {
    scale: 1.01;
  }
  12.5% {
    scale: 1;
  }
  24% {
    scale: 1;
  }
  24.5% {
    scale: 1.01;
  }
  25% {
    scale: 1;
  }
  36.5% {
    scale: 1;
  }
  37% {
    scale: 1.01;
  }
  37.5% {
    scale: 1;
  }
  49% {
    scale: 1;
  }
  49.5% {
    scale: 1.01;
  }
  50% {
    scale: 1;
  }
  61.5% {
    scale: 1;
  }
  62% {
    scale: 1.01;
  }
  62.5% {
    scale: 1;
  }
  74% {
    scale: 1;
  }
  74.5% {
    scale: 1.01;
  }
  75% {
    scale: 1;
  }
  86.5% {
    scale: 1;
  }
  87% {
    scale: 1.01;
  }
  87.5% {
    scale: 1;
  }
  99% {
    scale: 1;
  }
  99.5% {
    scale: 1.01;
  }
  100% {
    scale: 1;
    transform: rotate(360deg);
  }
}

/* 

.Magia {
  animation: color 40s infinite;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(171, 164, 66);
  height: 110vh;
}

@keyframes color {
  0% {
    background-image: rgb(171, 164, 66);
  }
  6.25% {
    background-color: rgb(212, 203, 77);
  }
  11.5% {
    background-color: rgb(235, 224, 76);
  }
  12.5% {
    background-color: rgb(211, 211, 211);
  }
  18.75% {
    background-color: rgb(238, 238, 238);
  }
  24% {
    background-color: rgb(248, 248, 248);
  }
  25% {
    background-color: rgb(210, 130, 61);
  }
  31.25% {
    background-color: rgb(226, 135, 56);
  }
  36.5% {
    background-color: rgb(236, 121, 45);
  }
  37.5% {
    background-color: rgb(191, 79, 67);
  }
  43.75% {
    background-color: rgb(216, 79, 63);
  }
  49% {
    background-color: rgb(228, 65, 65);
  }
  50% {
    background-color: rgb(140, 77, 161);
  }
  56.25% {
    background-color: rgb(167, 76, 197);
  }
  61.5% {
    background-color: rgb(156, 80, 218);
  }
  62.5% {
    background-color: rgb(144, 143, 141);
  }
  68.75% {
    background-color: rgb(172, 171, 170);
  }
  74% {
    background-color: rgb(197, 203, 207);
  }
  75% {
    background-color: rgb(80, 118, 180);
  }
  81.25% {
    background-color: rgb(61, 118, 209);
  }
  86.5% {
    background-color: rgb(64, 149, 230);
  }
  87.5% {
    background-color: rgb(92, 171, 90);
  }
  93.75% {
    background-color: rgb(86, 197, 85);
  }
  99% {
    background-color: rgb(98, 214, 74);
  }
  100% {
    background-color: rgb(171, 164, 66);
  }
  /*     0%{
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(121,68,9,1) 22%, rgba(255,207,0,1) 100%);
    }
    12.4%{
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(121,68,9,1) 22%, rgba(255,207,0,1) 100%);
    }
    12.5%{
        background: rgb(97,97,97);
        background: linear-gradient(0deg, rgba(97,97,97,1) 0%, rgba(180,180,180,1) 24%, rgba(203,203,203,1) 49%, rgba(255,255,255,1) 100%);
    } 
 }
@keyframes animateBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

} */
