.searchBoxBackgroundT {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
@media only screen and (max-width: 600px) {
  .Container {
    row-gap: 20px;
  }
  .searchBoxBackgroundT {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 50px;
    justify-items: center;
    align-items: start;
  }
  .SideBar {
    max-width: 100vw;
  }
}
