.search-box{
  -webkit-appearance: none;
  padding: 10px;
  line-height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 20vw;

  padding: 1vw;
  background-color: var(--secondary);
  color:var(--text)
}
.search-box:hover{
 border-color: var(--primary);
}
@media only screen and (min-width: 600px) {
.search-box{
  font-size: 1.5vw;
}
}
@media only screen and (max-width: 600px) {
  .search-box{
    font-size: 4vw;
  }
}