.Item-List-Cont-TopT {
  display: flex;
  justify-self: center;
}
.grid {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  border-style: solid;
  border-color: white;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding-bottom: 5px;
}
.gridR {
  display: grid;
  grid-template-columns: 10% 10% 80%;
  align-items: center;
  border-style: solid;
  border-color: white;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding-bottom: 5px;
}

.Item-List-Cont-BottomT {
  padding: 5px;
  margin: 0;
  border-color: white;
  border-width: 3px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.m {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  border-style: solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  margin: 0;
}
.r {
  padding-bottom: 10px;
  margin: 0;
  justify-self: center;
}
.b {
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  justify-self: center;
  border-style: solid;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}
