.search-boxPR {
  -webkit-appearance: none;
  padding: 10px;
  line-height: auto;
  border-style: solid;
  border-color: var(--text);
  padding: 1vw;
  border-width: 3px;
  background-color: var(--secondary);
  color: var(--text);
}
.search-boxPR:hover {
  border-color: var(--primary);
}
@media only screen and (min-width: 600px) {
  .search-boxPR {
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 600px) {
  .search-boxPR {
    font-size: 4vw;
    width: 40vw;
  }
}
