.pages {
  background-color: #12100c;
  margin-top: 10px;
  display: flex;
  flex: 1;
  cursor: pointer;
  color: white;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  transition-duration: 0.35s;
  padding-bottom: 10px;
  border-style: solid;
  border-color: black;
  border-top: 0;
  border-bottom: 0;
}
.text {
  color: white;
  text-decoration: none;
  transition-duration: 0.25s;
  font-size: 3vw;
}

.text:hover {
  color: #ffb300;
  text-decoration: none;
}

.active {
  color: #ffb300;
}
.pages:hover {
  border-color: #ffb300;
}
