.search-box {
  -webkit-appearance: none;
  padding: 10px;
  line-height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 20vw;
  background-color: white;
  padding: 1vw;
}
@media only screen and (min-width: 600px) {
.search-box{
  font-size: 1.5vw;
}
}
@media only screen and (max-width: 600px) {
  .search-box{
    font-size: 2vw;
  }
}