.search-box {
  -webkit-appearance: none;
  padding: 10px;
  line-height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 2vw;
  width: 25vw;
  background-color: white;
  padding: 1.5vw;
}
