.pages {
  background-color: #12100c;
  display: flex;
  flex: 1;
  cursor: pointer;
  color: white;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  transition-duration: 0.35s;
  padding-bottom: 10px;
}
.text {
  color: white;
  text-decoration: none;
  transition-duration: 0.25s;
  font-size: 1em;
}

.text:hover {
  color: #ffb300;
  text-decoration: none;
}

.active {
  color: #ffb300;
}
.pages:hover {
  border-color: #ffb300;
}
@media only screen and (min-width: 600px) {
  .text{
    font-size: 1.em;
  }
}
@media only screen and (max-width: 600px) {
.text{
  font-size: 0.6em;
}
}