body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root[data-theme="light"] {
  --text: #010a23;
  --background: #efeff3;
  --primary: #ffb300;
  --secondary: #e7ecf7;
  --accent: #fac31e;
}
:root {
  --text: #dce5fe;
  --background: #171721;
  --primary: #ffb300;
  --secondary: #1e232f;
  --accent: #e1aa05;
  --border:#c1c2c4;
}