.menu {
  padding-left: 5vw;
  padding-right: 10vw;
}
.bar {
  display: grid;
  background-color: #12100c;
  width: 100%;
  z-index: 3;
  font-size: 20px;
  border-style: solid;
  border-color: #ffb300;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.Bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5vw;
}

.Logo {
  height: 2.5em;
}
.burger {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
@media only screen and (min-width: 600px) {
  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5vw;
  }
}
@media only screen and (max-width: 600px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
