.search-box {
  -webkit-appearance: none;
  padding: 10px;
  line-height: auto;
  justify-self: center;
  margin: 0;
  width: 20vw;
  border-style: solid;
  border-color: var(--text);
  padding: 1vw;
  border-width: 3px;
  background-color: var(--secondary);
  color: var(--text);
}
.search-box:hover {
  border-color: var(--primary);
}
@media only screen and (min-width: 600px) {
  .search-box {
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 600px) {
  .search-box {
    display: grid;
    font-size: 4vw;
    width: 80%;
    height: 70%;
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}
