.Death{
    position:absolute;
    aspect-ratio:1/1;
    width:100%;
    left: 0;
    right: 0;
    margin: 0;
    top:0%;
    opacity:0;
    animation:hiding-S 40s linear infinite; 
    overflow-x:hidden;
    overflow-y: hidden;

}
.Shad{
    position:absolute;
    aspect-ratio:1/1;
    width:100%;
    left: 0;
    right: 0;
    margin: 0;
    top:0%;
    animation:hiding-Shad 40s linear infinite; 
    overflow-x:hidden;
    overflow-y: hidden;
    opacity:0.3;
}

@keyframes hiding-S{
     0%{
        opacity:0;

    }
    12.4%{
        opacity:0;
        transform:translateY(0%);
        scale:1;     
    }
    14.8%{
        opacity:0.1;
    }
    21%{
        opacity:0.1;
    }    
    24.9%{
        opacity:0;
        transform:translateY(40%);
    }
    100%{
        opacity:0;
    }
}
@keyframes hiding-Shad{
    0%{
       opacity:0;

   }
   12.4%{
       opacity:0;
       transform:translateY(0%);
       scale:1;     
   }
   14.8%{
       opacity:0.1;
   }
   21%{
       opacity:0.1;
   }    
   24.9%{
       opacity:0;
       transform:translateY(40%);
   }
   100%{
       opacity:0;
   }
}
@keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@media only screen and (min-width: 600px) {
.Sun{

    }
}
@media only screen and (max-width: 600px) {
    .Death{
        height: 100%;
    }
}